<div class="row">
  <div class="col-md-12">
		<div class="btn-group" style="width: 100%">
  		<button class="btn btn-default btn-md btn-block">
				<i class="fa fa-calendar"></i>
				<span class="hidden-xxs">&nbsp;Generate Timetable</span>
			</button>
		</div>
	</div>
</div>
