<div class="row">
  <div class="col-md-12">
		<div class="btn-group" style="width: 100%">
  		<button id="corsai-gen" class="btn btn-default btn-md btn-block">
				<i class="fa fa-calendar"></i>
				<span class="hidden-xxs">&nbsp;Generate Timetable</span>
			</button>
		</div>
		<div id="corsai-modal" class="modal fade">
			<div class="modal-dialog">
    		<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Preferences</h4>
      		</div>
      		<div class="modal-body">
        		<p>Choose timetable preferences</p>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		<button id="corsai-save" type="button" class="btn btn-primary">Generate</button>
      		</div>
    		</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
		</div>
	</div>
</div>
